
/* IMPORTS */

@import 'variables';

/* GENERAL */

html {
    height: 100%;
    font-family: $font-family;
    font-size: $font-size-normal;
    color: $color-txt;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    background-color: $color-bg;
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 1rem;
}

/* OTHER */

#wrapper {
    max-width: 635px;
    margin: 0 auto;
}

#header {
    height: 20vh;
    display: flex;
    align-items: center;
}

#title {
    font-size :80px;
    font-weight: bold;
    margin-left: 10%;
    text-align: left;
    flex-grow: 1;
}

#options {
    margin-right: 10%;
}

.infobox {

    display: inline-block;
    background-color: $color-infobox;
    color: white;
    min-width: 75px;
    border-radius: $border-radius-normal;

    &.highlight {

    }

    &.score {
        margin-right: $layout-spacing;
    }

    .title {
        padding: $layout-spacing $layout-spacing $layout-half-spacing;
        text-transform: uppercase;
        font-size: $font-size-small;
        opacity: 0.75;
    }

    .content {

        padding: $layout-half-spacing $layout-spacing $layout-spacing;
        font-weight: bold;
        position: relative;

        .notified {

            color: #726E65;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: scale(0);
            opacity: 0.5;
            transition: transform 0.25s ease 0s, top 0.25s ease 0s, opacity 0.25s ease 0s;

            &.show {
                top: -8px;
                transform: scale(1);
                opacity: 1;
            }

            &.hide {
                top: -50px;
                opacity: 0.75;
            }

        }

    }

}

#content {
    height: 80vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
