
/* COLORS */

$color-bg: #F9F8EE;
$color-txt: #746E65;

$color-infobox: #B6AC9E;
$color-board: #B6AC9E;
$color-placeholder: #C8BFB2;

/* TYPOGRAPHY */

$font-family: Arial;
$font-size-normal: 15px;
$font-size-small: $font-size-normal - 2px;

/* LAYOUT */

$layout-spacing: 10px;
$layout-half-spacing: $layout-spacing / 2;

$border-radius-small: 2px;
$border-radius-normal: 4px;
$border-radius-large: 6px;
